@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-theme {
  @include mat-core();

  $dark-primary: mat-palette($mat-purple);
  $dark-accent:  mat-palette($mat-green, A200, A100, A400);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent);
  @include angular-material-theme($dark-theme);

  background-color: mat-color(mat-palette($mat-gray), 900);
  color: mat-color(mat-palette($mat-gray), '900-contrast');
}
